.Login-Form{
    position: relative;
    width: 100%;
    background-color: #097a966c;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.5);
    display: flex;
    border-radius: 12px;
    padding: 30px 40px;
    margin: auto;
    justify-content: center;
    text-align: center;
    transition: transform 1s; 
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
  .Login-Form.flipped {
      transform: rotateY(180deg);
      
  }
   
          @media (min-width: 760px) {
              .Login-Form {
                  max-width: 450px;
              }
          }
          @media (max-width: 759px) {
              .Login-Form {
                  max-width: 400px;
              }
          }
          @media (max-width: 500px) {
              .Login-Form {
                  max-width: 380px;
              }
          }
          @media (max-width: 450px) {
              .Login-Form {
                  max-width: 200px;
              }
          }
          .form-login {
              font-size: 36px;
              text-align: center;
              text-transform: uppercase;
          }
          .Login-Form .input-box {
              position: relative;
              width: 80%;
              margin: 36.844px 10px;
          }
          .input-box input {
              width: 100%;
              height: 100%;
              background: transparent;
              border: none;
              outline: none;
              border: 2px solid rgba(255, 255, 255, 0.2);
              border-radius: 40px;
              font-size: 16px;
              color: #fff;
              padding: 20px 45px 20px 20px;
          }
          .input-box input::placeholder {
              color: #c5c5c5;
              font-family:'Times New Roman', Times, serif;
              letter-spacing: 3px;
          }
          .Login-Form .remember {
              display: flex;
              justify-content: space-between;
              font-size: 14.5px;
          }
          .Login-Form .btn {
              width: 150px;
              height: 45px;
              background: #fff;
              border: none;
              outline: none;
              border-radius: 40px;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
              cursor: pointer;
              font-size: 16px;
              color: #333;
              font-weight: 600;
              margin-left: 20px;
              margin-top: 10px;
              
          }
          .Login-Form .forgotandenroll-link {
              font-size: 14.5px;
              text-align: center;
              margin-left: 20px;
              margin: px 0 15px;
          }
          .forgotandenroll-link p a {
              color: #fff;
              text-decoration: none;
              font-weight: 600;
          }
          .forgotandenroll-link p a:hover {
              text-decoration: underline;
          }
 

        @font-face {
            font-family: 'Caeser';
            src: url('CAESAR.TTF') format('truetype'); 
        }
        .LName {
            text-align: center;
            color: black;
            font-size: 50px;
            font-family: 'Caeser', sans-serif; 
            font-weight: bold;
            margin-top: -120px;
        }     




.Enroll-Form {
    position: relative;
    width: 100%;
    max-height: 668.92px;
    background-color: #097a966c;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.5);
    display: flex;
    border-radius: 12px;
    padding: 30px 40px;
    margin: auto;
    justify-content: center;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.Enroll-Form.flipped {
    transform: rotateY(-0deg); 
}

   
          @media (min-width: 760px) {
              .Enroll-Form {
                  max-width: 450px;
              }
          }
          @media (max-width: 759px) {
              .Enroll-Form {
                  max-width: 400px;
              }
          }
          @media (max-width: 500px) {
              .Enroll-Form {
                  max-width: 380px;
              }
          }
          @media (max-width: 450px) {
              .Enroll-Form {
                  max-width: 200px;
              }
          }
          .form-login {
              font-size: 36px;
              text-align: center;
              text-transform: uppercase;
          }
          .Enroll-Form .input-box {
              position: relative;
              width: 80%;
              margin: 20px 10px;
          }
          .input-box input {
              width: 100%;
              height: 100%;
              background: transparent;
              border: none;
              outline: none;
              border: 2px solid rgba(255, 255, 255, 0.2);
              border-radius: 40px;
              font-size: 16px;
              color: #fff;
              padding: 20px 45px 20px 20px;
          }
          .input-box input::placeholder {
              color: #c5c5c5;
              font-family:'Times New Roman', Times, serif;
              letter-spacing: 3px;
          }
     
.Enroll-Form .btn {
    width: 150px;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 10px;
              
          }
          .Enroll-Form .forgotandenroll-link {
              font-size: 14.5px;
              text-align: center;
              margin-left: 20px;
              margin: px 0 15px;
          }
          .forgotandenroll-link p a {
              color: #fff;
              text-decoration: none;
              font-weight: 600;
          }
          .forgotandenroll-link p a:hover {
              text-decoration: underline;
          }
        
 


         .Forgot-Form{
            position: relative;
            width: 100%;
            min-height: 600px;
            background-color: #097a966c;
            box-shadow: 0 0 80px rgba(0, 0, 0, 0.5);
            display: flex;
            border-radius: 12px;
            padding: 30px 40px;
            margin: auto;
            justify-content: center;
            text-align: center;
            transition: transform 1s; 
            transform-style: preserve-3d;
            transform: rotateY(180deg);
            backface-visibility: hidden;            
          }
          .Forgot-Form.flipped {
              transform: rotateY(0deg);
              
          }
           
                  @media (min-width: 760px) {
                      .Forgot-Form {
                          max-width: 450px;
                      }
                  }
                  @media (max-width: 759px) {
                      .Forgot-Form {
                          max-width: 400px;
                      }
                  }
                  @media (max-width: 500px) {
                      .Forgot-Form {
                          max-width: 380px;
                      }
                  }
                  @media (max-width: 450px) {
                      .Forgot-Form {
                          max-width: 200px;
                      }
                  }
                  .form-login {
                      font-size: 36px;
                      text-align: center;
                      text-transform: uppercase;
                  }
                  .Forgot-Form .input-box {
                      position: relative;
                      width: 80%;
                      margin: 36.844px 10px;
                  }
                  .input-box input {
                      width: 100%;
                      height: 100%;
                      background: transparent;
                      border: none;
                      outline: none;
                      border: 2px solid rgba(255, 255, 255, 0.2);
                      border-radius: 40px;
                      font-size: 16px;
                      color: #fff;
                      padding: 20px 45px 20px 20px;
                  }
                  .input-box input::placeholder {
                      color: #c5c5c5;
                      font-family:'Times New Roman', Times, serif;
                      letter-spacing: 3px;
                  }
                  .Forgot-Form .remember {
                      display: flex;
                      justify-content: space-between;
                      font-size: 14.5px;
                  }
                  .Forgot-Form .btn {
                      width: 150px;
                      height: 45px;
                      background: #fff;
                      border: none;
                      outline: none;
                      border-radius: 40px;
                      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                      cursor: pointer;
                      font-size: 16px;
                      color: #333;
                      font-weight: 600;
                      margin-left: 20px;
                      margin-top: 10px;
                      
                  }
                  .Forgot-Form .forgotandenroll-link {
                      font-size: 14.5px;
                      text-align: center;
                      margin-left: 20px;
                      margin: px 0 15px;
                  }
                  .forgotandenroll-link p a {
                      color: #fff;
                      text-decoration: none;
                      font-weight: 600;
                  }
                  .forgotandenroll-link p a:hover {
                      text-decoration: underline;
                  }

                  .Login-Form, .Enroll-Form,.Forgot-Form {
                    position: absolute;
                    top: 6%;
                 }
     